@font-face {
  font-family: Poppins;
  src: url("poppins/poppins-bold-webfont.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Poppins;
  src: url("poppins/poppins-light-webfont.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Poppins;
  src: url("poppins/poppins-medium-webfont.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Poppins;
  src: url("poppins/poppins-regular-webfont.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Poppins;
  src: url("poppins/poppins-semibold-webfont.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
