//colors
$primary: #7239ea;
$light: #fff;
$light1: #f5f8fa;
$dark: #181c32;
$grey3: #5e6278;
$input-bg: #e9ecef;
$grey2: #3f4254;
$grey1: #181c32;
$grey11: #181c3210;
$grey04: #181c3240;
$dark01: #00000010;

//breakpoints
$md: 768px;
$sm: 600px;
$lg: 1020px;
