$primary: #7239EA;

$light:#fff;
$dark:#181C32;
$grey3:#5E6278;
$input-bg: #E9ECEF;

@font-face {
    font-family: Poppins;
    src: url('../fonts/poppins-light-webfont.woff2') format("woff2"),;
}


$small: 600px;
$medium: 1020px;