$primary: if(isDarkMode(), #8950fc, #7239ea);
$light:#fff;
@font-face {
    font-family: Poppins;
    src: url('../fonts/poppins-light-webfont.woff2') format("woff2"),;
}


$small: 600px;
$medium: 1020px;